name: Linting
on:
  - pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  yamllint:
    name: Yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Yamllint
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  mdformat:
    name: Mdformat
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Mdformat
        uses: ydah/mdformat-action@main
        with:
          file_or_dir:
            CODE_OF_CONDUCT.md CHANGELOG.md README.md .github/PULL_REQUEST_TEMPLATE.md .github/CONTRIBUTING.md .github/ISSUE_TEMPLATE/feature_request.md .github/ISSUE_TEMPLATE/bug_report.md MIT-LICENSE.md
          number: true
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
